.header {
    background-color: #d5dde0;
    padding: 20px;
    text-align: center;
}
.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
nav {
    background-color: #0f84d7;
    color: #e0e2e6;
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}











.title-header h1 {
     font-size: 34px!important;
    text-align: left;
    margin-bottom: 0!important;
    margin-top: 0!important;
    line-height: 43px!important;
    font-weight: bold;
}
.title-header p{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.title-header img {
    width: 100%;
    display: inline-block;
    border-radius: 4px;
}

body .container {

    padding-left: 0;
    padding-right: 0;
}
.Title1 h2 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.Title1 h2 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.Title1 p {
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
}
.Title2 h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.Title2 p {
    color: #000000;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
.Title2 img {
    width: 100%;
    border-radius: 4px;
}
.food2 h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #0f294d;
    text-align: left;
    padding: 32px 0 24px;

}
.food2 h3 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.food2 p {
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
}
.langkhaidinh h3 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.langkhaidinh p {
    color: #455873;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
}
.langkhaidinh img {
    width: 100%;
    border-radius: 4px;
}
.Cungandinh h3 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.Cungandinh p{
    color: #455873;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
}
.Cungandinh img {
    width: 100%;
    border-radius: 4px;
}
.langtuduc h3 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.langtuduc p{
    color: #455873;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
}
.langtuduc img {
    width: 100%;
    border-radius: 4px;
}
.banhdaica {
    margin-bottom: 0px
}
.banhdaica h3 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.banhdaica p {
    color: #1c1d1e;
    font-size: 40x;
    font-weight: 600;
    line-height: 1.5;
}
.banhdaica img{
    width: 100%;
    border-radius: 4px;
}

footer {
    background-color: #333;
    #2469cf
    padding: 40px 0;
}

.section_footer {

    background: #2469cf;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left,
.footer-right {
    width: 50%;
    float: left;
   color: #ffffff
}

.menu-tit ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-tit ul li {
    margin-bottom: 10px;
}

.menu-tit ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-tit ul li a:hover {
    color: #ffd700;
}

.footer-bot {
    background-color: #2469cf;
    padding: 20px 0;
    text-align: center;
}

.container .copyright {
    margin-bottom: 10px;
    color: #ffffff
}

.container .social {
    font-size: 20px;
}

.container .social i {
    color: #fff;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.container .social i:hover {
    color: #ffd700;
}

body .container {
    display :flex
}
